body {
    background-color: #fbfbfb;
  }
  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    /* background-color: #CEDDE4 !important; */
    background-color: black !important;
  }
  .navbar{
    /* background-color: #CEDDE4 !important; */
    background-color: black;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  .text-center{
    font-family: 'Luckiest Guy', cursive;
    font-weight: bold;
    /* color: black  !important; */
    color:#0e6084 ;
    font-size: 1.8rem;
    text-shadow: #0e6084 2px 2px !important;
    animation: pulse !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
  


}
.text-center span{
    color: #4f8298  !important ;
}

.main1{
    margin-top: 100px;
    display: flex !important;
    flex-direction: column !important;

}
.card{
    height: 150px;
    border-radius: 1rem;
    background-image:linear-gradient(to right, black, #325566);
   
    
    /* background-color: black; */
}
.card-body{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px; */
  border-radius: 1rem;
  
}
.card h5{
    color: white;
}
h1{
  color: white !important;
}
.mydimensions{
  font-size: 30px;
  text-align: center;
}
.tab{
  margin-left: 40px !important;
  margin-top: 60px !important;
}
.tab table thead{
  /* background-color: #325566 ; */
  background-color: black;
  color: white;

}
/* .tab table thead tr{
  border-radius:2rem !important;

} */
.update{
  background-color: rgb(229, 130, 43);
  color: white;
  border: none;
  height: 40px;
  text-align: center;
  border-radius: 0.5rem;
  width: 80px;

}
.delet{
  text-decoration: none;
  background-color: rgb(210, 31, 31);
  color: white;
  
  text-align: center;
  width: 80px;
  margin-left: 15px;
  height: 40px;
  border-radius: 0.5rem;
  padding-top: 5px;
}
/* table{
  margin-top: 50px !important;
} */

/* table{
  margin-top: 50px !important;
} */

#data-table_wrapper{
  margin-top: 40px;
}
.Add{
  color:white ;
  background-color: #236d94;
  border: none;
  border-radius:5px;
  padding: 5px;
  text-align: center;
}
.back{
  color: aquamarine !important;
}
